
body { font-size: 14px; font-family: 宋体,Arial,Helvetica,sans-serif; line-height: 18px; }
button { cursor: pointer; }
.header { background-color: #65f; padding: 50px; color: white; }
table { width: 100%; }
table.main { width: 96%; }
td#leftarea>div { overflow-y: auto; }
td#rightarea { width: 240px; border: solid #4a3 1px; }
td>div { padding: 5px; margin-top: 2px; }
div#logo { height: 160px; }
div.title { cursor: pointer; }
div.content { max-height: 180px; overflow-y: auto; border-left: solid #4a3 1px; }
div#newtpcbtn { padding: 5px; margin-top: 0; background-color: #8f7; cursor: pointer; }
span.arrow { padding-left: 4px; padding-right: 4px; cursor: pointer; }
td>span.arrow { color: red; }
span.newnum { padding-left: 4px; padding-right: 4px; color: red; }
div.atcllabel { float: left; padding: 4px; margin-left: 4px; margin-top: 3px; cursor: pointer; border: solid #4a3 1px; }
div.alllabelidx { cursor: pointer; }
div.alluseridx { cursor: pointer; }
div#tpcinput { border: solid #8f7 1px; margin-bottom: 5px; }
div.ubbbtn { float: left; padding: 2px; padding-left: 4px; padding-right: 4px; margin-left: 2px; margin-top: 2px; cursor: pointer; border: solid #4a3 1px; }
div#returntolist { padding: 5px; cursor: pointer; background-color: #8f7; }
th { border: solid #4a3 1px; color: #272; }
th#firstth, th#lastth { cursor: pointer; }
tr.new { background-color: #ffd; }
td { border-bottom: solid #4a3 1px; vertical-align: top; }
td.num { text-align: center; }
td.atclleft { width: 170px; border: solid #4a3 1px; }
td.atclright { border-right: solid #4a3 1px; border-top: solid #4a3 1px; border-bottom: solid #4a3 1px; }
span.title { cursor: pointer; margin-left: 3px; }
span.lasttime { cursor: pointer; font-size: 0.9em; }
span.tpclabel { font-size: 0.7em; color: #272; cursor: pointer; margin-left: 3px; }
span.firsttime { color: #777; font-size: 0.9em; }
span.eof { color: #99b; font-size: 0.8em; }
div.randomart { font-family: Courier; padding-left: 8px; color: #c2d; font-size: 12px; line-height: 10px; }
div.atcltop { font-size: 0.8em; border-bottom: solid #4a3 1px; height: 12px; padding-top: 1px; padding-bottom: 3px; }
div#atclarea button { font-size: 0.9em; padding-top: 0px; padding-bottom: 0px; }
div.atclbody { min-height: 85px;  padding-bottom: 20px;}
div.atclfoot { font-size: 0.8em; height: 12px; border-top: solid #4a3 1px; }
div.atclid { font-size: 0.7em; margin-bottom: 5px; color: #999; padding-top: 0; margin-top:  0; }
span.lineright { float: right; }
.lineright>span { margin-left: 5px; cursor: pointer; }
span.linemiddle { margin-left: 15px; margin-right: 15px; }
span.bigger, span.smaller { cursor: pointer; margin-left: 4px; margin-right: 4px; }
tr.treeview { font-size: 0.9em; background-color: #f8f8f8; }
tr.treeview td { padding-left: 4px; padding-right: 4px; }
span.prfblocked { color: gray; cursor: pointer; font-size: 1.5em; }
span.prfunread { color: #00e; cursor: pointer; font-size: 1.5em; }
span.prfpassed { color: #2c0; cursor: pointer; font-size: 1.5em; }
span.prfcommended { color: #ec0; cursor: pointer; font-size: 1.5em; }
span.remove { color: gray; cursor: pointer; font-size: 1.5em; padding-left: 4px; padding-right: 4px; text-align: top; background-color: white; }
span.query { color: #0c0; cursor: pointer; font-size: 12px; padding-left: 4px; padding-right: 4px; text-align: top; background-color: white; margin: 0; }
div.pop { position: absolute; background-color: white; width: 400px; color: #120; font-size: 12px; line-height: 16px; padding: 8px; border: solid #4a3 1px; }
div.setstatus { position: absolute; }
div.destroytime { font-size: 0.7em; color: #999; margin-top: 10px; }
span.timer { margin-left: 5px; color: red; }

div.common { border: solid #4a3 1px; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px; }
div.toggle { padding-left: 2px; padding-right: 2px; }
.leftborder { border-left: solid gray 1px; }
div.title { cursor: pointer; }
div.content { padding: 6px; border: solid #4a3 1px; }
span.trigger { width: 12px; font-size: 10px; color: #f60; }
table.common { width: 90%; border: solid #4a3 1px; }
.common tr { height: 20px; border: 0; }
.common td { height: 20px; border-top: solid #4a3 1px; }
span.selkey { cursor: pointer; padding-left: 7px; padding-right: 7px; padding-top: 4px; padding-bottom: 4px; margin: 7px; border: solid #fc0 1px; }
div.emarea { position: absolute; height: 240px; width:240px; overflow-y: auto; background-color: #ffd }
div.head { padding-top: 2px; padding-bottom: 2px; line-height: 32px; }
a.goto { cursor: pointer; }
